<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.java.mapper.BoardMapper">

   <select id="selectAll" resultType="com.java.dto.BoardDto">
      select * from (
      select rownum rnum,a.* from
      (select b.*,sysdate-bdate remaindate from board b order by bgroup desc, bstep asc) a
      ) where  rnum between #{startRow} and #{endRow}
   </select>
   
   <select id="selectListCount" resultType="int">
   	  select count(*) from board
   </select>
   
   <!-- 게시글 1개 저장 -->
   <insert id="insertBoard">
   	  insert into board values(
   	  board_seq.nextval,#{id},#{btitle},#{bcontent},sysdate,
   	  0,board_seq.currval,0,0,#{bfile})
   </insert>

</mapper>